// fonts
.fp {font-family: sans-serif;} // font primary
.fh {font-family: 'Titillium Web',sans-serif;} // font header
.fi {font-family: 'sl-fonts',sans-serif;} // font icon

// body
@bb: #eee; // body background

// colors
@blue: #31387c;
@lightblue: #b5bde8;
@cp: #5c5a58; // color primary
@cl: @blue; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 22px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0;